body {
    background-color:white;
}


.input-validation-error {
   border: 1px solid red;
   background-color:$ffeeee;
}

.field-validation-error {
    color:red;
}

.field-validation-valid{
    display:none;
}

.validation-summary-errors{
    color:red;
    font-weight:bold;
}